body{
    margin: 0;
    font-family: Arial, sans-serif;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom left,#dd2476, #ff512f);
}
p{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}

.container{
    padding-top: 60px;
}

.form{
    height: 470px;
    width: 460px;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 30px;
    margin: 0 auto;
}

.form__title{
    font-size: 24px;
    font-weight: 700;
    margin-top: 0;
}

.form__title:before{
    content: "";
    display: inline-block;
    position: relative;
    height: 25px;
    width: 25px;
    background: url(../img/sign-up-icon.jpg) center center no-repeat;
    background-size: cover;
    margin-right: 10px
}

.form__descr{
    color: #7a7b7f;
    font-size: 13px;
    line-height: 20px;
    padding-bottom: 35px;
}

.form__link{
    color: #ea355a;
    text-decoration: none;
}

.form__input-first-name, .form__input-last-name, .form__input-email, .form__input-password{
    background-color: #f0f0f0;
    border: none;
    height: 40px;
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 14px;
}

.form__input-first-name, .form__input-last-name{
    width: 190px;
}
.form__input-first-name{
    margin-right: 15px;
}

.form__input-password,
.form__input-email{
    width: 100%;
}

.form__btn{
    width: 100%;
    height: 50px;
    border-radius: 3px;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    background: #ea355a;
    border: none;
    border-bottom: 3px solid #bd1962;
    cursor: pointer;
    margin-bottom: 20px;
}